<%- include('../../partials/header') %>
<main class="contact-form-container">
  <h1>Contact Us</h1>
  <p>
    Have questions or feedback? Send us a message using the form below and we'll
    get back to you as soon as possible.
  </p>
  <form class="contact-form" method="post" action="/contact" novalidate>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject"
            placeholder="What is this message about?" minlength="2" required>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6" minlength="10" required
            placeholder="Please provide details about your questions or feedback ..."></textarea>
    </div>
    <button type="submit">Send Message</button>
  </form>
</main>

<%- include('../../partials/footer') %>;
