.contact-form-container {
  padding-top: 2rem;
  h1,
  p {
    text-align: center;
  }

  p {
    width: 80%;
    display: block;
    margin: 1rem auto;
    line-height: 1.4;
  }

  .contact-form {
    width: 80%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2.5rem auto;
    padding: 2rem 2rem;
    background-color: rgb(225, 236, 223);
    border: 1px solid rgb(235, 234, 234);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        font-weight: bold;
        color: rgb(5, 76, 5);
      }

      input,
      textarea {
        width: 90%;
        border-radius: 5px;
        padding: 1rem 1rem;
        border: none;
        font-size: 1rem;
        box-shadow: 0 2px 4px rgba(86, 85, 85, 0.2);
      }
    }

    button {
      padding: 1rem 1.5rem;
      color: white;
      font-weight: bold;
      font-size: 1rem;

      background-color: rgb(116, 169, 116);
      box-shadow: 0 4px 8px rgba(52, 51, 51, 0.2);
      border-radius: 10px;
      width: 200px;
      display: block;
      margin: 0 auto;

      &:hover {
        background-color: green;
      }
    }
  }
}
