/* USER DASHBOARD  */

.user-dashboard-container,
.admin-dashboard-container,
.owner-dashboard-container {
  padding: 2rem 2rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .homepage-link {
    width: 250px;
    display: block;
    margin: 2rem auto;
    margin-top: 3rem;
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(74, 144, 74);
  }
}

/* user info container  */
.dashboard-user-info-container {
  padding: 1rem 2rem;
  width: 80%;
  height: 350px;
  max-width: 450px;
  border: 1px solid rgb(236, 234, 234);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .user-detail {
    padding-left: 2rem;
    margin-bottom: 1rem;

    .label {
      font-weight: bold;
    }
  }

  .user-edit-btn {
    padding: 1rem;
    width: 300px;
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: rgb(98, 155, 98);
    text-align: center;
    color: white;

    &:hover {
      background-color: green;
      text-decoration: none;
    }
  }
}

/* USER DASHBOARD  */
.widget-container {
  .user-order-container {
    margin-top: 4rem;

    .orders-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-left: 2rem;

      .order-card {
        border: 1px solid rgb(236, 234, 234);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 2rem 2rem;

        a {
          font-weight: bold;
          color: darkgreen;
          font-size: 1.3rem;
        }

        .dish-info-container {
          padding-left: 1rem;

          .dish-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
              margin: 0.5rem;
            }

            .dish-price {
              color: rgb(121, 41, 41);
            }
          }
        }

        .order-info-container {
          margin-top: 1rem;
          padding: 0.5rem 0.5rem;

          summary {
            &:hover {
              cursor: pointer;
            }
          }

          div {
            padding-top: 1rem;

            .order-page-link {
              text-decoration: none;
              font-family: 0.6rem;
              color: rgb(111, 60, 60);
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .user-review-container {
    margin-top: 4rem;

    .reviews-container {
      padding-left: 1rem;
      .review-card {
        border: 1px solid rgb(236, 234, 234);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 0.8rem 2rem;
      }
    }
  }
}

/* ADMIN DASHBOARD  */
.admin-widget-container {
  .all-user-container {
    margin-top: 4rem;

    .user-container {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .user-card {
        border: 1px solid rgb(236, 234, 234);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 0.8rem 2rem;
        width: 300px;

        .user-edit-btn {
          padding: 0.8rem;
          width: 100px;
          display: block;
          margin: 2rem auto 0.5rem auto;
          border-radius: 10px;
          background-color: rgb(98, 155, 98);
          text-align: center;
          color: white;

          &:hover {
            background-color: green;
            text-decoration: none;
          }
        }
      }
    }
  }

  .contact-forms-container {
    margin-top: 4rem;

    .form-container {
      display: flex;
      flex-direction: column;

      .form-card {
        border: 1px solid rgb(236, 234, 234);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 0.8rem 2rem;
        width: 300px;
      }
    }
  }
}

/* OWNER DASHBOARD  */
.owner-widget-container {
  .restaurant-order-container {
    margin-top: 4rem;

    .order-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .order-card {
        border: 1px solid rgb(236, 234, 234);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 0.8rem 2rem;

        .order-status {
          font-style: italic;
          font-weight: bold;
          color: green;
        }

        .order-dish-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .order-dish-card {
            display: flex;
            flex-direction: row;
            gap: 1.2rem;
            align-items: top;

            .dish-img {
              width: 150px;
              height: 100px;
              object-fit: cover;
              border-radius: 5px;
            }
          }
        }

        .order-status-form {
          width: 70%;
          display: block;
          margin: 2rem auto;
          display: flex;
          gap: 1rem;
          background-color: rgb(238, 243, 239);
          border-radius: 10px;
          justify-content: space-around;
          padding: 1rem;

          #status {
            padding: 0.8rem 0.8rem;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 1.2rem;
          }

          button {
            font-size: 1rem;
            font-weight: bold;
            color: white;
            padding: 0.8rem 0.8rem;
            border-radius: 10px;
            background-color: rgb(126, 178, 126);
            border: none;
          }
        }
      }
    }
  }
}

/* EDIT FORM  */
.edit-profile-container {
  width: 90%;
  max-width: 750px;
  display: block;
  margin: 1.8rem auto;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .edit-form {
    display: block;
    width: 80%;
    margin: 0 auto;
    max-width: 450px;
    background-color: rgb(213, 230, 213);
    padding: 1rem 2rem;
    border-radius: 10px;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1.5rem;

      label {
        color: rgb(111, 40, 40);
        font-weight: bold;
      }

      input {
        height: 25px;
        border-radius: 5px;
        border: none;
        width: 90%;
        padding: 0.5rem;
        font-size: 1.2rem;
      }
    }

    button, a {
      font-size: 1.2rem;
      margin: 2rem;
      padding: 0.8rem;
      background-color: rgb(125, 183, 125);
      color: white;
      font-weight: bold;
      border-radius: 10px;

      &:hover {
        text-decoration: none;
        background-color: green;
      }
    }
  }
}


@media (min-width: 770px) {
  .user-dashboard-container,
  .admin-dashboard-container,
  .owner-dashboard-container {
    width: 80%;
    display: block;
    margin: 0 auto;
    max-width: 900px;

    h1 {
      text-align: left;
    }
  }

  .widget-container {
    margin-top: 3rem;
  }

  .admin-widget-container {
    .contact-forms-container,
    .all-user-container {
      .user-container,
      .form-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
}
