.homepage-container {
  padding: 2rem;

  h1 {
    font-size: 1.5rem;
  }
}

.hero-container {
  .food-icon-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;

    li {
      /* border: 1px solid gray; */
      padding: 0.1rem 1.3rem;
      border-radius: 40px;
      background-color: var(--lightgray);

      &:hover {
        background-color: rgb(207, 205, 205);
      }

      a {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        text-decoration: none;
        align-items: center;

        img {
          width: 45px;
          height: 45px;
        }

        p {
          color: black;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 770px) {
  .homepage-container {
    padding: 2rem 3rem;
  }
}
@media (min-width: 1093px) {
  .homepage-container {
    padding: 2rem 4.5rem;
  }
}

/* deal, near, top restaurant  */
.deal-res-container,
.near-res-container,
.top-res-container {
  margin-top: 3.5rem;

  .res-info-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1.4rem;

    .res-card {
      width: 380px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 20px;
      }

      .res-info {
        margin-left: 8px;

        p {
          margin: 0;
          margin-top: 0.5rem;
        }

        .res-name {
          font-weight: 700;
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.deal-res-container {
  .discount-info {
    color: red;
  }
}

.near-res-container,
.top-res-container {
  .res-info {
    position: relative;

    .res-delivery {
      margin-top: 0.5rem;
    }

    .open-status {
        color: red;
    }

    .heart-btn {
      position: absolute;
      top: 4px;
      right: 10px;

      svg {
        fill: none;
        stroke: rgb(208, 148, 158);
        stroke-width: 3px;
      }
    }
  }
}
