.restaurant-container {
  width: 90%;
  margin: 2rem auto;
}

/* HERO SECTION  */
.hero-container {
  border-bottom: 1px solid rgb(248, 243, 243);
  padding-bottom: 2rem;
  .hero-img-container {
    position: relative;

    .restaurant-background {
      height: 320px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .restaurant-logo {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      left: 25px;
      z-index: 10;
    }
  }

  .header-form-container {
    padding: 0 1rem;

    .restaurant-search-form {
      display: none;
    }
  }

  .restaurant-info-container {
    padding: 0 1rem;

    .basic-info {
      p,
      span {
        display: inline;
      }

      .address {
        display: block;
      }
    }

    .delivery-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      border: 1px solid rgb(212, 217, 222);
      border-radius: 12px;
      padding: 0rem 1rem;

      p {
        text-align: center;
        line-height: 1.2;

        span {
          font-weight: bold;
          color: red;
        }
      }

      .delivery-fee {
        border-right: 1px solid rgb(222, 220, 220);
        text-align: center;
        grid-column: 1/2;
      }
    }
  }
}

/* MAIN SECTION  */
.restaurant-main-container {
  margin-top: 3rem;
  h1 {
    font-size: 1.6rem;
  }
}

.restaurant-deal-container {
  .deals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .deal-card {
      width: 350px;
      padding: 1.5rem 1.4rem;
      background-color: rgb(233, 244, 224);
      border-radius: 15px;

      p {
        margin: 0;
        margin-bottom: 0.4rem;
        color: darkred;
        font-weight: bold;
      }

      span {
        font-size: 1rem;
        font-style: italic;
        font-weight: lighter;
      }

      .deal-code {
        margin-top: 0.8rem;
      }
    }
  }
}

.restaurant-menu-container,
.restaurant-history-container {
  margin-top: 3.5rem;

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .dish-card {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      padding: 0.8rem 0.5rem;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      .dish-img-container {
        .dish-img {
          /* width: 100%; */
          width: 250px;
          height: 150px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .dish-info-container {
        span {
          display: block;
          margin-top: 0.5rem;
        }

        .dish-name {
          font-size: 1.3rem;
          font-weight: bold;
        }

        .price {
          font-weight: bold;
          color: red;
          margin-top: 1.2rem;
        }
      }

      .add-icon {
        font-size: 2rem;
        padding: 0 0.6rem;
        border-radius: 50%;
        background-color: rgb(199, 222, 202);
        position: absolute;
        bottom: 20px;
        right: 30px;

        &:hover {
          cursor: pointer;
          background-color: rgb(154, 195, 154);
        }
      }
    }
  }
}

/* dish expand when clicked  */
.menu-container-expand {
  display: none;
  z-index: 100;
  background-color: rgba(129, 129, 129, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 4.5rem 0;

  .wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 70px;
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    height: 80dvh;
    background-color: aliceblue;
    padding: 1rem 1rem;

    .modal-close-btn {
      grid-template-rows: 1/2;
      justify-self: left;
      position: sticky;
      top: 0;
      background-color: aliceblue;
      border-radius: 50%;

      &:hover {
        background-color: rgb(221, 230, 233);
      }
    }
    .dish-info-expand-container {
      overflow-y: auto;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .add-to-cart-btn {
      grid-template-rows: 3/4;
      color: white;
      background-color: rgb(56, 156, 56);
      width: 95%;
      margin: 0.5rem auto;
      display: block;
      padding: 1rem 0;
      border-radius: 20px;

      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
      text-decoration: none;
      &:hover {
        background-color: green;
      }
    }
  }
}

.clicked {
  display: block;
}

.restaurant-history-container {
  margin-top: 3.5rem;
}

.restaurant-rating-container {
  margin-top: 3.5rem;
  position: relative;

  .add-review-btn, .add-review-btn2 {
    position: absolute;
    top: 3px;
    right: 20px;
    padding: 0.6rem 1rem;
    font-weight: bold;
    background-color: rgb(191, 230, 196);
    border-radius: 20px;

    &:hover {
      background-color: rgb(121, 190, 121);
    }
  }

  .rating-review-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 2rem;

    .rating-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid lightgray;
      padding: 0.8rem 1.5rem;
      text-align: center;

      h2 {
        margin: 0;
        color: red;
        font-size: 2rem;
      }

      p {
        margin: 0;
        margin-top: 0.4rem;
      }
    }

    .review-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      overflow-x: auto;
      scrollbar-width: none;

      .review-card {
        min-width: 250px;
        max-width: 300px;
        padding: 0.8rem 1.5rem;
        border: 1px solid lightgray;
        position: relative;

        .review {
          margin: 0;
        }

        .review-date {
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }
}

/* review form appear when clicked  */
.review-form-container {
  display: none;
  z-index: 100;
  background-color: rgba(129, 129, 129, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;

  .wrapper {
    display: grid;
    grid-template-rows: 50px 1fr;
    border-radius: 20px;
    margin: 2rem auto;
    width: 85%;
    max-width: 550px;
    height: 80dvh;
    background-color: white;
    padding: 1rem 1rem;

    .form-close-btn {
      grid-template-rows: 1/2;
      justify-self: left;
      position: sticky;
      top: 0;
      border-radius: 50%;

      &:hover {
        background-color: rgb(221, 230, 233);
      }
    }

    .review-form {
      /* background-color: rgb(236, 238, 238); */
      padding: 2rem 3rem;
      border-radius: 10px;

      h3 {
        text-align: center;
        font-size: 1.7rem;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;

        label {
          font-size: 1.3rem;
          margin-bottom: 0.8rem;
          font-weight: bold;
        }

        .rating-input {
          -webkit-appearance: none;
          height: 15px;
          background-color: rgb(133, 160, 133);
          border-radius: 10px;
        }

        .rating-input::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 24px;
          height: 24px;
          background: rgb(75, 115, 75);
          border-radius: 50%;
          border: 2px solid rgb(64, 100, 72);
          cursor: pointer;
        }

        textarea {
          padding: 1rem;
          font-size: 1.2rem;
          font-weight: bold;
          border: none;
          border-radius: 10px;
          background-color: rgb(212, 232, 217);
        }
      }

      .form-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3.5rem;

        .save-review-btn,
        .cancel-review-btn {
          padding: 1rem 1.5rem;
          text-decoration: none;
          color: white;
          font-weight: bold;
          font-size: 1.3rem;
          border-radius: 10px;
          background-color: rgb(91, 137, 91);

          &:hover {
            background-color: green;
          }
        }

        /* .cancel-review-btn {

        } */
      }
    }
  }
}

.form-clicked {
  display: block;
}

@media (min-width: 770px) {
  .restaurant-container {
    width: 85%;
  }

  .hero-container {
    .header-form-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
      align-items: center;
      /* background-color: antiquewhite; */

      .restaurant-search-form {
        display: flex;
        flex: 1;
        max-width: 300px;
        width: 100%;
        height: 40px;
        position: relative;

        input {
          width: 100%;
          padding: 1rem 1rem;
          font-size: 1.2rem;

          border-radius: 40px;
          border: none;
          background-color: var(--lightgray);
        }

        .search-btn {
          position: absolute;
          right: 15px;
          top: 3px;

          .icon {
            width: 25px;
          }
        }
      }
    }

    .restaurant-info-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .delivery-info {
        min-width: 300px;
      }
    }
  }

  .restaurant-menu-container,
  .restaurant-history-container {
    .menu-container {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      .dish-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 45%;
        max-width: 320px;
        gap: 0.2rem;

        .dish-img-container {
          .dish-img {
            height: 180px;
          }
        }

        .add-icon {
          bottom: 15px;
          right: 30px;
        }
      }
    }
  }
}

@media (min-width: 1093px) {
  .hero-container {
    .header-form-container {
      padding: 0 1.5rem;

      .restaurant-search-form {
        max-width: 450px;
      }
    }
    .restaurant-info-container {
      padding: 0 1.5rem;

      .delivery-info {
        min-width: 400px;
      }
    }
  }

  .restaurant-menu-container,
  .restaurant-history-container {
    .menu-container {
      .dish-card {
        max-width: 360px;

        .dish-img-container {
          .dish-img {
            width: 95%;
          }
        }
      }
    }
  }
}
