/* sidebar container */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 300px;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  background-color: white;
  padding: 0 0.4rem;
  border-right: 1px solid var(--lightgray);

  display: flex;
  flex-direction: column;


  .wrapper {
    position: relative;
    height: 100px;

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0.4rem;
      border-radius: 50%;

      &:hover {
        background-color: var(--lightgray);
      }
    }
  }

  .user-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .user-avatar {
      padding: 18px 25px;
      border-radius: 50%;
      background-color: var(--green);

      color: white;
      font-weight: 800;
      font-size: 2rem;
    }

    .user-name {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }

  .sidebar-list-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    li {
      padding: 1rem 0.5rem;
      border-bottom: 1px solid rgb(196, 195, 195);
      display: flex;
      align-items: center;

      &:hover {
        background-color: var(--lightgray);
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        text-decoration: none;

        span {
          font-size: 1.3rem;
          color: black;
          font-weight: 500;
        }
      }
    }
  }
}

  .open {
    transform: translateX(0);
  }
