    <footer>
        <section class="footer-links-container">
            <div class="social-media-container">
                <h2>Get to Know Us</h2>
                <ul class="social-media-list">
                    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="https://linkedIn.com" target="_blank">LinkedIn</a></li>
                    <li><a href="https://twitter.com"target="_blank">Twitter</a></li>
                </ul>
            </div>
            <div class="contribution-container">
                <h2>Attributions</h2>
                <ul class="contribution-list">
                    <li>Logos provided by <a href="https://www.vecteezy.com">Vecteezy</a></li>
                    <li>Images provided by <a href="https://www.unsplash.com">Unsplash</a></li>
                    <li>Icon <a href="https://www.flaticon.com/authors/octopocto">octopocto</a></li>
                </ul>
            </div>
        </section>
        <section class="copyright-container">
                © 2026 Foodie
        </section>

    </footer>
</body>
</html>