<section class="sidebar-container">
  <div class="wrapper">
    <button class="close-btn" aria-label="close button">
      <svg class="icon">
        <use xlink:href="/images/sprite.symbol.svg#close"></use>
      </svg>
    </button>
  </div>

  <div class="user-profile-container">
    <div class="user-avatar">T</div>
    <div class="user-info-container">
      <p class="user-name">Thu Dong</p>
    </div>
  </div>

  <ul class="sidebar-list-container">
    <li>
      <a href="/">
        <svg class="icon">
          <use xlink:href="/images/sprite.symbol.svg#ranger-station"></use>
        </svg>
        <span class="item-text show">Home</span>
      </a>
    </li>
    <li>
      <a href="/">
        <svg class="icon">
          <use xlink:href="/images/sprite.symbol.svg#bookmark"></use>
        </svg>
        <span class="item-text show">Saved Stores</span>
      </a>
    </li>
    <li>
      <a href="/">
        <img class="cart-img" src="/images/cart.png" alt="cart icon" />
        <span class="item-text show">Cart</span>
      </a>
    </li>
    <li>
      <a href="/">
        <svg class="icon">
          <use xlink:href="/images/sprite.symbol.svg#alert-information"></use>
        </svg>
        <span class="item-text show">Help</span>
      </a>
    </li>
  </ul>
</section>
