<%- include('../../partials/header')%>
<main class="login-form-container">
  <h1>Login</h1>
  <p>
    Enter your email and password to access your account. Do not have an
    account? <a href="/register">Register here</a>.
  </p>
  <form method="POST" action="/login" class="login-form">

    <div class="form-group">
      <label for="email">Email<span class="form-required-star">*</span></label>
      <input
        required
        type="email"
        id="email"
        name="email"
        maxlength="255"
        placeholder="Please enter your email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password<span class="form-required-star">*</span></label>
      <input
        type="password"
        required
        id="password"
        name="password"
        minlength="8"
        placeholder="Please enter your password"
      />
    </div>

    <button type="submit">Sign In</button>
    <div class="register-link">
      New user? <a href="/register">Create an account</a>
    </div>
  </form>
</main>
<%- include('../../partials/footer')%>
